*{
	margin:0;
	padding:0;
	font-family: sans-sarif;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image:  url(file:///C:/sublime/new/luxury-bachelor-apartment-grosuartstudio-img~f041a8ae0a5a4084_9-1216-1-4b1db0c.jpg);

background-size: cover;
background-position: center;


}
.navbar{
	width: 85%;
	margin:auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin:0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: ;
	height:3px;
	width:100%;
	background: #009688;
	position: 0;
	left: 0;
	bottom: -10px;

}
.navbar ul li:hover::after{
	width: 100%;
	
}