*{
	margin: 0;
	padding: 0;
	background: transparent;
	background: none;
}
body{

}
h3{
	color: red;
}
.change_contact:after{
	content: '';
	animation: changetext 10s infinite linear;
	color:#00b894; 
}
@keyframes changetext{
	0%{content:"Darjeeling"}
	20%{content:"Agra"}
	35%{content:"Jaipur"}
	60%{content:"Kerala"}
	80%{content:"Delhi"}
	100%{content:"Mumbai"}
}